APScheduler==3.6.3
boto3==1.15.2
botocore==1.18.2
click==7.1.2
Flask==1.1.2
itsdangerous==1.1.0
Jinja2==2.11.2
jmespath==0.10.0
MarkupSafe==1.1.1
prometheus-client==0.8.0
python-dateutil==2.8.1
pytz==2020.1
s3transfer==0.3.3
six==1.15.0
tzlocal==2.1
urllib3==1.25.10
Werkzeug==1.0.1